.topmost-anonymous {
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
}

.anonymous-wrapper {
    margin: 0 auto;
    width: 446px;
    height: 528px;
    background: url(/assets/img/solo.png) no-repeat;
}

.anonymous-title {
    text-align: center;
    color: #2b2929;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    padding: 46px 0 0 3px;
    filter: drop-shadow(0 0 2px #FFFFFFA1);
}

.anonymous-message {
    padding: 10px 40px;
    margin-bottom: 20px;
}

.anonymous-content {
    max-width: 320px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 40px 0 0 62px;
}
