html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:visited {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

#app {
    background: #060606;
    height: 100%;
}

.topmost-main-menu {
    padding: 100px 0 0 0;
}

.main-menu {
    margin: 0 auto;
    width: 400px;
    height: 495px;
    background: url(/assets/img/main-menu.png) no-repeat;
}

.main-menu-title {
    text-align: center;
    color: #2b2929;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    padding: 38px 0 0 0;
    filter: drop-shadow(0 0 2px #FFFFFFA1);
}

.menu-items {
    text-align: center;
    margin: 55px 0 0 -7px;
}

.menu-items .button {
    margin-bottom: 10px;
}

.menu-footer {
    text-align: center;
    margin-left: -15px;
}

.menu-footer a {
    margin-left: 15px;
}

.top-navigation {
    margin: 0 auto;
    width: 695px;
    padding: 5px 0;
    background: #b1df92;
    background: url(/assets/img/top_menu_frame.png) no-repeat;
}

.navigation-items {
    text-align: center;
    display: inline-block;
    width: 695px;
    height: 100px;
    background: url(top_menu_frame.png) no-repeat;
    margin: 0 0 0 -15px;
}

.navigation-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(/assets/img/top_menu_item_bg.png) no-repeat;;
    margin: 0 0 0 10px;
}

.navigation-item:hover {
    background: url(/assets/img/top_menu_item_bg2.png) no-repeat;;
}

.navigation-item:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    margin: 15px 0 0 -13px;
}

.navigation-item--home:before {
    background: url(/assets/img/icons/icon-home.png) no-repeat;
}

.navigation-item--logout:before {
    background: url(/assets/img/icons/icon-cross.png) no-repeat;
}

.topmost-anonymous {
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
}

.anonymous-message {
    max-width: 300px;
    text-align: center;
    background: #ffe3e3;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.anonymous-message a {
    text-decoration: underline;
    font-weight: bold;
    color: #050;
}

.make-invite {
    margin: 0 auto;
    max-width: 661px;
    background: #fdfdfd;
    padding: 20px;
}

.seat {
    background: #ddd;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 20px 20px 0;
    min-width: 200px;
    min-height: 65px;
}

.seat-claimer {
    display: inline-block;
    padding: 5px 10px;
    max-width: 180px;
    white-space: nowrap;
    overflow-x: hidden;
}

.seat-claimed-caption {
    margin-bottom: 10px;
}

.seat-colors {
    margin: 0 0 10px 0;
}

.seat-color {
    padding: 3px 2px 0 0;
    margin: 0 0 0 10px;
    border-radius: 10px;
}

.seat-color--green {
    background-color: #060;
}

.seat-color--black {
    background-color: #333;
}

.seat-color--pink {
    background-color: pink;
}

.seat-color--orange {
    background-color: orangered;
}

.seat-color--violet {
    background-color: violet;
}
.invite-refreshing {
    display: inline-block;
    background: #fdfdfd;
    padding: 0 20px 13px 6px;
    border-radius: 26px;
    position: absolute;
    margin: 20px 0 0 -20px;
}
.invite-refreshing-caption {
    padding-left: 24px;
}

.invite-start-game-link {
    background: #ddd;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #d0cbcb;
    color: #154d01;
    font-weight: bold;
}

.invite-start-game {
    margin-left: 288px;
}